.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 210px;
	height: 50px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button_reset {
	background: #ffffff;
}

.button_submit {
	background: #ffc802;
}

.button_reset:hover {
	background: #ffedab;
}

.button_submit:hover {
	background: #ffedab;
}
